/*

Navy: #004d8a
Yellow: #ffc107
Blue: #2196f3
Pink: #e94c89
Green: #00c5a2

*/

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

input[type="text"],
input[type="password"] {
    background-color: rgb(240, 240, 240);
    border: 0px;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 10px;
}

.firstHeading {
    color: #004d8a;
    font-size: 4rem;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    margin: 150px 0 25px 0;
}

.secondHeading {
    font-size: 2rem;
    margin: 0 0 40px 0;
}

.signup {
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #2196f3;
    height: 20px;
    width: 150px;
    text-align: center;
}

.market {
    width: 600px;
}

.homeLayout {
    display: flex;
}

.homeLayout > * {
    flex: 1;
}

.homeLayout > .left {
    margin-left: 125px;
}

.homeLayout > .right {
    margin-right: 125px;
    margin-top: 50px;
}

.homeLayout input[type="text"],
.homeLayout input[type="password"] {
    width: 300px;
}

.homeLayout input[type="submit"] {
    width: 330px;
    height: 43px;
    background-color: #2196f3;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}